<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Speech Emotion Recognition</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;0,700;1,100;1,400&display=swap"
        rel="stylesheet">
</head>

<body>
    <nav>
        <h1>Speech Emotion Recognition</h1>
        <ul>
            <li><strong><a href="/">Home</a></strong></li>
            <li>Details</li>
            <li><a href="/team">Team</a></li>
        </ul>
    </nav>
    <form action="/" method="POST" enctype=multipart/form-data>
        <div class="file-drag">
            <img src="/static/img/upload.svg" alt="upload">
            <h2>Drag & drop your files here</h2>
            <p>File supported wav, mp3</p>
            <strong>or</strong>
            <label for="audiofile" class="upbtn">Browse File</label>
            <input type="file" name="audiofile" id="audiofile" accept="audio/*" hidden>
            <p>Duration &lt; 30s </p>
        </div>
    </form>

    <div class="loader">
        <div class="box1"></div>
        <div class="box2"></div>
        <div class="box3"></div>
    </div>
</body>

</html>

<script>
    const form = document.querySelector('form');
    const input  = document.querySelector('input');
    const loader = document.querySelector('.loader')
     loader.style.display = 'none'
    
    input.onchange = async () =>{
        console.log("form Submited")
        form.style.display = 'none'
        loader.style.display = 'block'
        await form.submit();
        
    } 
    
</script>